@import "./variables.scss";
@import "./fonts.scss";
@import "./buttons.scss";

body {
  width: 25rem;
  height: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family, sans-serif;
}

.header {
  width: 100%;
  height: auto;
  color: $white;
  background: $primary-color;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;

  &--logo {
    width: 24px;
    height: 24px;
  }
}

section {
  padding: 1rem;

  .container {
    width: 100%;

    .heading {
      font-size: 0.8rem;
      color: $primary-color;
    }
  }

  @include button;

  button {
    width: 100%;
  }
}
